.detailcontainer {
  width: 1300px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .cell {
    padding: 10px;
    h1 {
      font-size: 16px;
      font-weight: 400;
      opacity: 0.5;
    }
    p {
      font-size: 16px;
    }

    .status {
      width: fit-content;
      padding: 5px;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      background-color: aqua;
    }
    .Probation {
      background-color: #f3e9af;
    }
    .Inactive {
      background-color: #ffb7b7;
    }
    .Active {
      background-color: #cdf2b6;
    }
  }
  .address {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    grid-column: 1 / span 2;
    p {
      width: 70%;
    }
  }
  .id {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    grid-column: 3 / span 4;
  }
}
