* {
  box-sizing: border-box;
}
.tablecontainer {
}
.filterbox {
  width: 100%;
  display: flex;
}
table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  row-gap: 10px;
  grid-template-columns:
    minmax(150px, 1.89fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.67fr);
}
thead,
tbody,
tr {
  display: contents;
}
thead th:first-child {
  border-radius: 10px 0px 0px 10px;
}
thead th:last-child {
  border-radius: 0px 10px 10px 0px;
}

tr td:first-child {
  border-radius: 10px 0px 0px 10px;
}
tr td:last-child {
  border-radius: 0px 10px 10px 0px;
}

// thead {
//   background-color: #6c7ae0;
// }
th,
td {
  font-size: 1.2rem;
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  background-color: #e7f8ff;
  top: 0;
  text-align: left;
  font-weight: 600;
  font-size: 1rem;
}

th:last-child {
  border: 0;
}

td {
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
}

.wrapicons {
  width: 100%;
  display: flex;
  gap: 20px;
  .deleteicon {
    width: 30px;
    height: 30px;
    color: red;
  }
  .editicon {
    width: 30px;
    height: 30px;
    color: rgb(47, 243, 243);
  }
}

.statuscontainer {
  padding: 10px;
  .status {
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: aqua;
  }
  #yellow {
    background-color: #f3e9af;
  }
  #red {
    background-color: #ffb7b7;
  }
  #green {
    background-color: #cdf2b6;
  }
}

.status-pill {
  padding: 8px;
  width: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.inactive {
  background-color: rgb(246, 146, 129);
}
.probation {
  background-color: rgb(224, 227, 78);
}
.active {
  background-color: rgb(78, 227, 177);
}
.status-pill p {
  font-size: 15px;
  color: #1f1f1f;
}
