* {
  box-sizing: border-box;
}
.employeelist {
  .sec1 {
    padding: 10px;
    padding-left: 30px;
    width: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: center;
  }
  .filterbox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    select {
      height: 30px;
      padding: 0px 40px 0px 40px;
      border-radius: 30px;
      background-color: #e7f8ff;
      display: flex;
      align-items: center;
    }
  }
  .employeeadd {
    cursor: pointer;
    background-color: #e7f8ff;
    border-radius: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .circularAdd {
      height: 60px;
      width: 60px;
      background-color: #03aeee;
      color: #ffffff;
      font-size: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 50%;
    }
  }
  table {
    display: grid;
    border-collapse: collapse;
    min-width: 100%;
    row-gap: 10px;
    grid-template-columns:
      minmax(150px, 1.89fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1.67fr);
  }
  thead,
  tbody,
  tr {
    display: contents;
  }
  thead th:first-child {
    border-radius: 10px 0px 0px 10px;
  }
  thead th:last-child {
    border-radius: 0px 10px 10px 0px;
  }

  tr td:first-child {
    border-radius: 10px 0px 0px 10px;
  }
  tr td:last-child {
    border-radius: 0px 10px 10px 0px;
  }

  // thead {
  //   background-color: #6c7ae0;
  // }
  th,
  td {
    font-size: 1.2rem;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    position: sticky;
    background-color: #e7f8ff;
    top: 0;
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
  }

  th:last-child {
    border: 0;
  }

  td {
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
  }

  .wrapicons {
    width: 100%;
    display: flex;
    gap: 20px;
    .deleteicon {
      cursor: pointer;
      width: 30px;
      height: 30px;
      color: red;
    }
    .editicon {
      cursor: pointer;
      width: 30px;
      height: 30px;
      color: rgb(47, 243, 243);
    }
  }

  .statuscontainer {
    padding: 10px;
    .status {
      padding: 5px;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      background-color: aqua;
    }
    #yellow {
      background-color: #f3e9af;
    }
    #red {
      background-color: #ffb7b7;
    }
    #green {
      background-color: #cdf2b6;
    }
  }
}
.modal {
  width: 1400px;
  z-index: 100;
  background-color: white;
  position: fixed;
  top: 10%;
  box-shadow: 0px 0px 50px rgb(231, 231, 231);
  left: 15%;
}
